@mixin cover($color: rgb(0,0,0), $opacity: 0.7) {

  //Fixed style
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;

  //Variable style
  background: $color;
  opacity: $opacity;
}