@import "variables";

.article {
  .korde-cover-image {
    position: relative;

    height: 60vh;
    width: 100%;

    display: inline-block;
    background-position: center center;
    background-size: cover;

    .cover {
      position: absolute;
      top: 0;
      left: 0;

      padding-top: 180px;

      height: 100%;
      width: 100%;

      background: rgba(0,0,0,0.4);

      @media (max-width: $smallMediaSize) {
        padding-top: 60px;
      }
    }

    .korde-icon {
      position: absolute;
      top: 50%; left: 0; right: 0;

      height: 150px;

      margin: 0 auto;
      margin-top: -75px;
    }

    @media (max-width: $smallMediaSize) {
      height: 200px;
    }
  }

  .korde-article-content {
    padding: 50px 100px;

    @media (max-width: $smallMediaSize) {
      padding: 20px;
    }
  }

  .korde-article-content-small {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }

}