.article {
  .korde-cover-image {
    position: relative;

    height: 60vh;
    width: 100%;

    display: inline-block;
    background-position: center center;
    background-size: cover;

    .cover {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      background: rgba(0,0,0,0.4);
    }
  }

  .korde-article-content {
    padding: 50px 100px;
  }
}