@import 'variables';


body {
	max-width: 100%;
    overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
}
.cssFade {
    -webkit-transition: all 200ms; /* Safari */
    transition: all 200ms;
    opacity: 1;
}

.cssFade.ng-hide {
    opacity: 0;
}

.padding-top-30 {
  padding-top: 30px;
}

.copyright {
	padding: 30px;
	color: $rsBlue;

	h6 {
		font-size: 18px;
		font-weight: 300;
	}
}


.typed-cursor{
    display: none;
    opacity: 1;
    font-size: 30px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

// Leaflet

.leaflet-control {
  margin: 0 !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;
  border-radius: 0 !important;
  background: rgba(0,0,0,0.5) !important;
  color: #fff !important;

  &:hover {
    background: rgba(0,0,0,0.8) !important;
  }
}

// Margins
// ---------------------

@for $i from 10 to 100 {
  .margin-top-#{$i} {
    margin-top: #{$i}px;
  }
}