/* Nav color */
$bgDefault      : #fff;
$bgHighlight    : #eee;
$colDefault     : #000;
$colHover       : #255676;

/* Small media screen */

$smallMediaSize : 768px;
$mediumMediaSize: 1250px;

/* Fonts */
$openSans : 'Open Sans Light', sans-serif;
$times: 'Times New Roman', serif;


/* Colors */
$rsBlue : rgb(0,1,41);