/*

KORDE PROPERTIES

Created by Valdemar Rolfsen 2016

*/
/* Nav color */
/* Small media screen */
/* Fonts */
/* Colors */
.p-0-0 {
  padding: 0px 0px; }

.p-0-10 {
  padding: 0px 10px; }

.p-0-20 {
  padding: 0px 20px; }

.p-0-30 {
  padding: 0px 30px; }

.p-0-40 {
  padding: 0px 40px; }

.p-0-50 {
  padding: 0px 50px; }

.p-0-60 {
  padding: 0px 60px; }

.p-0-70 {
  padding: 0px 70px; }

.p-0-80 {
  padding: 0px 80px; }

.p-0-90 {
  padding: 0px 90px; }

.p-0-100 {
  padding: 0px 100px; }

.p-0-110 {
  padding: 0px 110px; }

.p-0-120 {
  padding: 0px 120px; }

.p-0-130 {
  padding: 0px 130px; }

.p-0-140 {
  padding: 0px 140px; }

.p-0-150 {
  padding: 0px 150px; }

.p-0-160 {
  padding: 0px 160px; }

.p-0-170 {
  padding: 0px 170px; }

.p-0-180 {
  padding: 0px 180px; }

.p-0-190 {
  padding: 0px 190px; }

.p-10-0 {
  padding: 10px 0px; }

.p-10-10 {
  padding: 10px 10px; }

.p-10-20 {
  padding: 10px 20px; }

.p-10-30 {
  padding: 10px 30px; }

.p-10-40 {
  padding: 10px 40px; }

.p-10-50 {
  padding: 10px 50px; }

.p-10-60 {
  padding: 10px 60px; }

.p-10-70 {
  padding: 10px 70px; }

.p-10-80 {
  padding: 10px 80px; }

.p-10-90 {
  padding: 10px 90px; }

.p-10-100 {
  padding: 10px 100px; }

.p-10-110 {
  padding: 10px 110px; }

.p-10-120 {
  padding: 10px 120px; }

.p-10-130 {
  padding: 10px 130px; }

.p-10-140 {
  padding: 10px 140px; }

.p-10-150 {
  padding: 10px 150px; }

.p-10-160 {
  padding: 10px 160px; }

.p-10-170 {
  padding: 10px 170px; }

.p-10-180 {
  padding: 10px 180px; }

.p-10-190 {
  padding: 10px 190px; }

.p-20-0 {
  padding: 20px 0px; }

.p-20-10 {
  padding: 20px 10px; }

.p-20-20 {
  padding: 20px 20px; }

.p-20-30 {
  padding: 20px 30px; }

.p-20-40 {
  padding: 20px 40px; }

.p-20-50 {
  padding: 20px 50px; }

.p-20-60 {
  padding: 20px 60px; }

.p-20-70 {
  padding: 20px 70px; }

.p-20-80 {
  padding: 20px 80px; }

.p-20-90 {
  padding: 20px 90px; }

.p-20-100 {
  padding: 20px 100px; }

.p-20-110 {
  padding: 20px 110px; }

.p-20-120 {
  padding: 20px 120px; }

.p-20-130 {
  padding: 20px 130px; }

.p-20-140 {
  padding: 20px 140px; }

.p-20-150 {
  padding: 20px 150px; }

.p-20-160 {
  padding: 20px 160px; }

.p-20-170 {
  padding: 20px 170px; }

.p-20-180 {
  padding: 20px 180px; }

.p-20-190 {
  padding: 20px 190px; }

.p-30-0 {
  padding: 30px 0px; }

.p-30-10 {
  padding: 30px 10px; }

.p-30-20 {
  padding: 30px 20px; }

.p-30-30 {
  padding: 30px 30px; }

.p-30-40 {
  padding: 30px 40px; }

.p-30-50 {
  padding: 30px 50px; }

.p-30-60 {
  padding: 30px 60px; }

.p-30-70 {
  padding: 30px 70px; }

.p-30-80 {
  padding: 30px 80px; }

.p-30-90 {
  padding: 30px 90px; }

.p-30-100 {
  padding: 30px 100px; }

.p-30-110 {
  padding: 30px 110px; }

.p-30-120 {
  padding: 30px 120px; }

.p-30-130 {
  padding: 30px 130px; }

.p-30-140 {
  padding: 30px 140px; }

.p-30-150 {
  padding: 30px 150px; }

.p-30-160 {
  padding: 30px 160px; }

.p-30-170 {
  padding: 30px 170px; }

.p-30-180 {
  padding: 30px 180px; }

.p-30-190 {
  padding: 30px 190px; }

.p-40-0 {
  padding: 40px 0px; }

.p-40-10 {
  padding: 40px 10px; }

.p-40-20 {
  padding: 40px 20px; }

.p-40-30 {
  padding: 40px 30px; }

.p-40-40 {
  padding: 40px 40px; }

.p-40-50 {
  padding: 40px 50px; }

.p-40-60 {
  padding: 40px 60px; }

.p-40-70 {
  padding: 40px 70px; }

.p-40-80 {
  padding: 40px 80px; }

.p-40-90 {
  padding: 40px 90px; }

.p-40-100 {
  padding: 40px 100px; }

.p-40-110 {
  padding: 40px 110px; }

.p-40-120 {
  padding: 40px 120px; }

.p-40-130 {
  padding: 40px 130px; }

.p-40-140 {
  padding: 40px 140px; }

.p-40-150 {
  padding: 40px 150px; }

.p-40-160 {
  padding: 40px 160px; }

.p-40-170 {
  padding: 40px 170px; }

.p-40-180 {
  padding: 40px 180px; }

.p-40-190 {
  padding: 40px 190px; }

.p-50-0 {
  padding: 50px 0px; }

.p-50-10 {
  padding: 50px 10px; }

.p-50-20 {
  padding: 50px 20px; }

.p-50-30 {
  padding: 50px 30px; }

.p-50-40 {
  padding: 50px 40px; }

.p-50-50 {
  padding: 50px 50px; }

.p-50-60 {
  padding: 50px 60px; }

.p-50-70 {
  padding: 50px 70px; }

.p-50-80 {
  padding: 50px 80px; }

.p-50-90 {
  padding: 50px 90px; }

.p-50-100 {
  padding: 50px 100px; }

.p-50-110 {
  padding: 50px 110px; }

.p-50-120 {
  padding: 50px 120px; }

.p-50-130 {
  padding: 50px 130px; }

.p-50-140 {
  padding: 50px 140px; }

.p-50-150 {
  padding: 50px 150px; }

.p-50-160 {
  padding: 50px 160px; }

.p-50-170 {
  padding: 50px 170px; }

.p-50-180 {
  padding: 50px 180px; }

.p-50-190 {
  padding: 50px 190px; }

.p-60-0 {
  padding: 60px 0px; }

.p-60-10 {
  padding: 60px 10px; }

.p-60-20 {
  padding: 60px 20px; }

.p-60-30 {
  padding: 60px 30px; }

.p-60-40 {
  padding: 60px 40px; }

.p-60-50 {
  padding: 60px 50px; }

.p-60-60 {
  padding: 60px 60px; }

.p-60-70 {
  padding: 60px 70px; }

.p-60-80 {
  padding: 60px 80px; }

.p-60-90 {
  padding: 60px 90px; }

.p-60-100 {
  padding: 60px 100px; }

.p-60-110 {
  padding: 60px 110px; }

.p-60-120 {
  padding: 60px 120px; }

.p-60-130 {
  padding: 60px 130px; }

.p-60-140 {
  padding: 60px 140px; }

.p-60-150 {
  padding: 60px 150px; }

.p-60-160 {
  padding: 60px 160px; }

.p-60-170 {
  padding: 60px 170px; }

.p-60-180 {
  padding: 60px 180px; }

.p-60-190 {
  padding: 60px 190px; }

.p-70-0 {
  padding: 70px 0px; }

.p-70-10 {
  padding: 70px 10px; }

.p-70-20 {
  padding: 70px 20px; }

.p-70-30 {
  padding: 70px 30px; }

.p-70-40 {
  padding: 70px 40px; }

.p-70-50 {
  padding: 70px 50px; }

.p-70-60 {
  padding: 70px 60px; }

.p-70-70 {
  padding: 70px 70px; }

.p-70-80 {
  padding: 70px 80px; }

.p-70-90 {
  padding: 70px 90px; }

.p-70-100 {
  padding: 70px 100px; }

.p-70-110 {
  padding: 70px 110px; }

.p-70-120 {
  padding: 70px 120px; }

.p-70-130 {
  padding: 70px 130px; }

.p-70-140 {
  padding: 70px 140px; }

.p-70-150 {
  padding: 70px 150px; }

.p-70-160 {
  padding: 70px 160px; }

.p-70-170 {
  padding: 70px 170px; }

.p-70-180 {
  padding: 70px 180px; }

.p-70-190 {
  padding: 70px 190px; }

.p-80-0 {
  padding: 80px 0px; }

.p-80-10 {
  padding: 80px 10px; }

.p-80-20 {
  padding: 80px 20px; }

.p-80-30 {
  padding: 80px 30px; }

.p-80-40 {
  padding: 80px 40px; }

.p-80-50 {
  padding: 80px 50px; }

.p-80-60 {
  padding: 80px 60px; }

.p-80-70 {
  padding: 80px 70px; }

.p-80-80 {
  padding: 80px 80px; }

.p-80-90 {
  padding: 80px 90px; }

.p-80-100 {
  padding: 80px 100px; }

.p-80-110 {
  padding: 80px 110px; }

.p-80-120 {
  padding: 80px 120px; }

.p-80-130 {
  padding: 80px 130px; }

.p-80-140 {
  padding: 80px 140px; }

.p-80-150 {
  padding: 80px 150px; }

.p-80-160 {
  padding: 80px 160px; }

.p-80-170 {
  padding: 80px 170px; }

.p-80-180 {
  padding: 80px 180px; }

.p-80-190 {
  padding: 80px 190px; }

.p-90-0 {
  padding: 90px 0px; }

.p-90-10 {
  padding: 90px 10px; }

.p-90-20 {
  padding: 90px 20px; }

.p-90-30 {
  padding: 90px 30px; }

.p-90-40 {
  padding: 90px 40px; }

.p-90-50 {
  padding: 90px 50px; }

.p-90-60 {
  padding: 90px 60px; }

.p-90-70 {
  padding: 90px 70px; }

.p-90-80 {
  padding: 90px 80px; }

.p-90-90 {
  padding: 90px 90px; }

.p-90-100 {
  padding: 90px 100px; }

.p-90-110 {
  padding: 90px 110px; }

.p-90-120 {
  padding: 90px 120px; }

.p-90-130 {
  padding: 90px 130px; }

.p-90-140 {
  padding: 90px 140px; }

.p-90-150 {
  padding: 90px 150px; }

.p-90-160 {
  padding: 90px 160px; }

.p-90-170 {
  padding: 90px 170px; }

.p-90-180 {
  padding: 90px 180px; }

.p-90-190 {
  padding: 90px 190px; }

.p-100-0 {
  padding: 100px 0px; }

.p-100-10 {
  padding: 100px 10px; }

.p-100-20 {
  padding: 100px 20px; }

.p-100-30 {
  padding: 100px 30px; }

.p-100-40 {
  padding: 100px 40px; }

.p-100-50 {
  padding: 100px 50px; }

.p-100-60 {
  padding: 100px 60px; }

.p-100-70 {
  padding: 100px 70px; }

.p-100-80 {
  padding: 100px 80px; }

.p-100-90 {
  padding: 100px 90px; }

.p-100-100 {
  padding: 100px 100px; }

.p-100-110 {
  padding: 100px 110px; }

.p-100-120 {
  padding: 100px 120px; }

.p-100-130 {
  padding: 100px 130px; }

.p-100-140 {
  padding: 100px 140px; }

.p-100-150 {
  padding: 100px 150px; }

.p-100-160 {
  padding: 100px 160px; }

.p-100-170 {
  padding: 100px 170px; }

.p-100-180 {
  padding: 100px 180px; }

.p-100-190 {
  padding: 100px 190px; }

.p-110-0 {
  padding: 110px 0px; }

.p-110-10 {
  padding: 110px 10px; }

.p-110-20 {
  padding: 110px 20px; }

.p-110-30 {
  padding: 110px 30px; }

.p-110-40 {
  padding: 110px 40px; }

.p-110-50 {
  padding: 110px 50px; }

.p-110-60 {
  padding: 110px 60px; }

.p-110-70 {
  padding: 110px 70px; }

.p-110-80 {
  padding: 110px 80px; }

.p-110-90 {
  padding: 110px 90px; }

.p-110-100 {
  padding: 110px 100px; }

.p-110-110 {
  padding: 110px 110px; }

.p-110-120 {
  padding: 110px 120px; }

.p-110-130 {
  padding: 110px 130px; }

.p-110-140 {
  padding: 110px 140px; }

.p-110-150 {
  padding: 110px 150px; }

.p-110-160 {
  padding: 110px 160px; }

.p-110-170 {
  padding: 110px 170px; }

.p-110-180 {
  padding: 110px 180px; }

.p-110-190 {
  padding: 110px 190px; }

.p-120-0 {
  padding: 120px 0px; }

.p-120-10 {
  padding: 120px 10px; }

.p-120-20 {
  padding: 120px 20px; }

.p-120-30 {
  padding: 120px 30px; }

.p-120-40 {
  padding: 120px 40px; }

.p-120-50 {
  padding: 120px 50px; }

.p-120-60 {
  padding: 120px 60px; }

.p-120-70 {
  padding: 120px 70px; }

.p-120-80 {
  padding: 120px 80px; }

.p-120-90 {
  padding: 120px 90px; }

.p-120-100 {
  padding: 120px 100px; }

.p-120-110 {
  padding: 120px 110px; }

.p-120-120 {
  padding: 120px 120px; }

.p-120-130 {
  padding: 120px 130px; }

.p-120-140 {
  padding: 120px 140px; }

.p-120-150 {
  padding: 120px 150px; }

.p-120-160 {
  padding: 120px 160px; }

.p-120-170 {
  padding: 120px 170px; }

.p-120-180 {
  padding: 120px 180px; }

.p-120-190 {
  padding: 120px 190px; }

.p-130-0 {
  padding: 130px 0px; }

.p-130-10 {
  padding: 130px 10px; }

.p-130-20 {
  padding: 130px 20px; }

.p-130-30 {
  padding: 130px 30px; }

.p-130-40 {
  padding: 130px 40px; }

.p-130-50 {
  padding: 130px 50px; }

.p-130-60 {
  padding: 130px 60px; }

.p-130-70 {
  padding: 130px 70px; }

.p-130-80 {
  padding: 130px 80px; }

.p-130-90 {
  padding: 130px 90px; }

.p-130-100 {
  padding: 130px 100px; }

.p-130-110 {
  padding: 130px 110px; }

.p-130-120 {
  padding: 130px 120px; }

.p-130-130 {
  padding: 130px 130px; }

.p-130-140 {
  padding: 130px 140px; }

.p-130-150 {
  padding: 130px 150px; }

.p-130-160 {
  padding: 130px 160px; }

.p-130-170 {
  padding: 130px 170px; }

.p-130-180 {
  padding: 130px 180px; }

.p-130-190 {
  padding: 130px 190px; }

.p-140-0 {
  padding: 140px 0px; }

.p-140-10 {
  padding: 140px 10px; }

.p-140-20 {
  padding: 140px 20px; }

.p-140-30 {
  padding: 140px 30px; }

.p-140-40 {
  padding: 140px 40px; }

.p-140-50 {
  padding: 140px 50px; }

.p-140-60 {
  padding: 140px 60px; }

.p-140-70 {
  padding: 140px 70px; }

.p-140-80 {
  padding: 140px 80px; }

.p-140-90 {
  padding: 140px 90px; }

.p-140-100 {
  padding: 140px 100px; }

.p-140-110 {
  padding: 140px 110px; }

.p-140-120 {
  padding: 140px 120px; }

.p-140-130 {
  padding: 140px 130px; }

.p-140-140 {
  padding: 140px 140px; }

.p-140-150 {
  padding: 140px 150px; }

.p-140-160 {
  padding: 140px 160px; }

.p-140-170 {
  padding: 140px 170px; }

.p-140-180 {
  padding: 140px 180px; }

.p-140-190 {
  padding: 140px 190px; }

.p-150-0 {
  padding: 150px 0px; }

.p-150-10 {
  padding: 150px 10px; }

.p-150-20 {
  padding: 150px 20px; }

.p-150-30 {
  padding: 150px 30px; }

.p-150-40 {
  padding: 150px 40px; }

.p-150-50 {
  padding: 150px 50px; }

.p-150-60 {
  padding: 150px 60px; }

.p-150-70 {
  padding: 150px 70px; }

.p-150-80 {
  padding: 150px 80px; }

.p-150-90 {
  padding: 150px 90px; }

.p-150-100 {
  padding: 150px 100px; }

.p-150-110 {
  padding: 150px 110px; }

.p-150-120 {
  padding: 150px 120px; }

.p-150-130 {
  padding: 150px 130px; }

.p-150-140 {
  padding: 150px 140px; }

.p-150-150 {
  padding: 150px 150px; }

.p-150-160 {
  padding: 150px 160px; }

.p-150-170 {
  padding: 150px 170px; }

.p-150-180 {
  padding: 150px 180px; }

.p-150-190 {
  padding: 150px 190px; }

.p-160-0 {
  padding: 160px 0px; }

.p-160-10 {
  padding: 160px 10px; }

.p-160-20 {
  padding: 160px 20px; }

.p-160-30 {
  padding: 160px 30px; }

.p-160-40 {
  padding: 160px 40px; }

.p-160-50 {
  padding: 160px 50px; }

.p-160-60 {
  padding: 160px 60px; }

.p-160-70 {
  padding: 160px 70px; }

.p-160-80 {
  padding: 160px 80px; }

.p-160-90 {
  padding: 160px 90px; }

.p-160-100 {
  padding: 160px 100px; }

.p-160-110 {
  padding: 160px 110px; }

.p-160-120 {
  padding: 160px 120px; }

.p-160-130 {
  padding: 160px 130px; }

.p-160-140 {
  padding: 160px 140px; }

.p-160-150 {
  padding: 160px 150px; }

.p-160-160 {
  padding: 160px 160px; }

.p-160-170 {
  padding: 160px 170px; }

.p-160-180 {
  padding: 160px 180px; }

.p-160-190 {
  padding: 160px 190px; }

.p-170-0 {
  padding: 170px 0px; }

.p-170-10 {
  padding: 170px 10px; }

.p-170-20 {
  padding: 170px 20px; }

.p-170-30 {
  padding: 170px 30px; }

.p-170-40 {
  padding: 170px 40px; }

.p-170-50 {
  padding: 170px 50px; }

.p-170-60 {
  padding: 170px 60px; }

.p-170-70 {
  padding: 170px 70px; }

.p-170-80 {
  padding: 170px 80px; }

.p-170-90 {
  padding: 170px 90px; }

.p-170-100 {
  padding: 170px 100px; }

.p-170-110 {
  padding: 170px 110px; }

.p-170-120 {
  padding: 170px 120px; }

.p-170-130 {
  padding: 170px 130px; }

.p-170-140 {
  padding: 170px 140px; }

.p-170-150 {
  padding: 170px 150px; }

.p-170-160 {
  padding: 170px 160px; }

.p-170-170 {
  padding: 170px 170px; }

.p-170-180 {
  padding: 170px 180px; }

.p-170-190 {
  padding: 170px 190px; }

.p-180-0 {
  padding: 180px 0px; }

.p-180-10 {
  padding: 180px 10px; }

.p-180-20 {
  padding: 180px 20px; }

.p-180-30 {
  padding: 180px 30px; }

.p-180-40 {
  padding: 180px 40px; }

.p-180-50 {
  padding: 180px 50px; }

.p-180-60 {
  padding: 180px 60px; }

.p-180-70 {
  padding: 180px 70px; }

.p-180-80 {
  padding: 180px 80px; }

.p-180-90 {
  padding: 180px 90px; }

.p-180-100 {
  padding: 180px 100px; }

.p-180-110 {
  padding: 180px 110px; }

.p-180-120 {
  padding: 180px 120px; }

.p-180-130 {
  padding: 180px 130px; }

.p-180-140 {
  padding: 180px 140px; }

.p-180-150 {
  padding: 180px 150px; }

.p-180-160 {
  padding: 180px 160px; }

.p-180-170 {
  padding: 180px 170px; }

.p-180-180 {
  padding: 180px 180px; }

.p-180-190 {
  padding: 180px 190px; }

.p-190-0 {
  padding: 190px 0px; }

.p-190-10 {
  padding: 190px 10px; }

.p-190-20 {
  padding: 190px 20px; }

.p-190-30 {
  padding: 190px 30px; }

.p-190-40 {
  padding: 190px 40px; }

.p-190-50 {
  padding: 190px 50px; }

.p-190-60 {
  padding: 190px 60px; }

.p-190-70 {
  padding: 190px 70px; }

.p-190-80 {
  padding: 190px 80px; }

.p-190-90 {
  padding: 190px 90px; }

.p-190-100 {
  padding: 190px 100px; }

.p-190-110 {
  padding: 190px 110px; }

.p-190-120 {
  padding: 190px 120px; }

.p-190-130 {
  padding: 190px 130px; }

.p-190-140 {
  padding: 190px 140px; }

.p-190-150 {
  padding: 190px 150px; }

.p-190-160 {
  padding: 190px 160px; }

.p-190-170 {
  padding: 190px 170px; }

.p-190-180 {
  padding: 190px 180px; }

.p-190-190 {
  padding: 190px 190px; }

.p-top {
  padding-bottom: 0; }

.p-bottom {
  padding-top: 0; }

.m-0-0 {
  margin: 0px 0px; }

.m-0-10 {
  margin: 0px 10px; }

.m-0-20 {
  margin: 0px 20px; }

.m-0-30 {
  margin: 0px 30px; }

.m-0-40 {
  margin: 0px 40px; }

.m-0-50 {
  margin: 0px 50px; }

.m-0-60 {
  margin: 0px 60px; }

.m-0-70 {
  margin: 0px 70px; }

.m-0-80 {
  margin: 0px 80px; }

.m-0-90 {
  margin: 0px 90px; }

.m-10-0 {
  margin: 10px 0px; }

.m-10-10 {
  margin: 10px 10px; }

.m-10-20 {
  margin: 10px 20px; }

.m-10-30 {
  margin: 10px 30px; }

.m-10-40 {
  margin: 10px 40px; }

.m-10-50 {
  margin: 10px 50px; }

.m-10-60 {
  margin: 10px 60px; }

.m-10-70 {
  margin: 10px 70px; }

.m-10-80 {
  margin: 10px 80px; }

.m-10-90 {
  margin: 10px 90px; }

.m-20-0 {
  margin: 20px 0px; }

.m-20-10 {
  margin: 20px 10px; }

.m-20-20 {
  margin: 20px 20px; }

.m-20-30 {
  margin: 20px 30px; }

.m-20-40 {
  margin: 20px 40px; }

.m-20-50 {
  margin: 20px 50px; }

.m-20-60 {
  margin: 20px 60px; }

.m-20-70 {
  margin: 20px 70px; }

.m-20-80 {
  margin: 20px 80px; }

.m-20-90 {
  margin: 20px 90px; }

.m-30-0 {
  margin: 30px 0px; }

.m-30-10 {
  margin: 30px 10px; }

.m-30-20 {
  margin: 30px 20px; }

.m-30-30 {
  margin: 30px 30px; }

.m-30-40 {
  margin: 30px 40px; }

.m-30-50 {
  margin: 30px 50px; }

.m-30-60 {
  margin: 30px 60px; }

.m-30-70 {
  margin: 30px 70px; }

.m-30-80 {
  margin: 30px 80px; }

.m-30-90 {
  margin: 30px 90px; }

.m-40-0 {
  margin: 40px 0px; }

.m-40-10 {
  margin: 40px 10px; }

.m-40-20 {
  margin: 40px 20px; }

.m-40-30 {
  margin: 40px 30px; }

.m-40-40 {
  margin: 40px 40px; }

.m-40-50 {
  margin: 40px 50px; }

.m-40-60 {
  margin: 40px 60px; }

.m-40-70 {
  margin: 40px 70px; }

.m-40-80 {
  margin: 40px 80px; }

.m-40-90 {
  margin: 40px 90px; }

.m-50-0 {
  margin: 50px 0px; }

.m-50-10 {
  margin: 50px 10px; }

.m-50-20 {
  margin: 50px 20px; }

.m-50-30 {
  margin: 50px 30px; }

.m-50-40 {
  margin: 50px 40px; }

.m-50-50 {
  margin: 50px 50px; }

.m-50-60 {
  margin: 50px 60px; }

.m-50-70 {
  margin: 50px 70px; }

.m-50-80 {
  margin: 50px 80px; }

.m-50-90 {
  margin: 50px 90px; }

.m-60-0 {
  margin: 60px 0px; }

.m-60-10 {
  margin: 60px 10px; }

.m-60-20 {
  margin: 60px 20px; }

.m-60-30 {
  margin: 60px 30px; }

.m-60-40 {
  margin: 60px 40px; }

.m-60-50 {
  margin: 60px 50px; }

.m-60-60 {
  margin: 60px 60px; }

.m-60-70 {
  margin: 60px 70px; }

.m-60-80 {
  margin: 60px 80px; }

.m-60-90 {
  margin: 60px 90px; }

.m-70-0 {
  margin: 70px 0px; }

.m-70-10 {
  margin: 70px 10px; }

.m-70-20 {
  margin: 70px 20px; }

.m-70-30 {
  margin: 70px 30px; }

.m-70-40 {
  margin: 70px 40px; }

.m-70-50 {
  margin: 70px 50px; }

.m-70-60 {
  margin: 70px 60px; }

.m-70-70 {
  margin: 70px 70px; }

.m-70-80 {
  margin: 70px 80px; }

.m-70-90 {
  margin: 70px 90px; }

.m-80-0 {
  margin: 80px 0px; }

.m-80-10 {
  margin: 80px 10px; }

.m-80-20 {
  margin: 80px 20px; }

.m-80-30 {
  margin: 80px 30px; }

.m-80-40 {
  margin: 80px 40px; }

.m-80-50 {
  margin: 80px 50px; }

.m-80-60 {
  margin: 80px 60px; }

.m-80-70 {
  margin: 80px 70px; }

.m-80-80 {
  margin: 80px 80px; }

.m-80-90 {
  margin: 80px 90px; }

.m-90-0 {
  margin: 90px 0px; }

.m-90-10 {
  margin: 90px 10px; }

.m-90-20 {
  margin: 90px 20px; }

.m-90-30 {
  margin: 90px 30px; }

.m-90-40 {
  margin: 90px 40px; }

.m-90-50 {
  margin: 90px 50px; }

.m-90-60 {
  margin: 90px 60px; }

.m-90-70 {
  margin: 90px 70px; }

.m-90-80 {
  margin: 90px 80px; }

.m-90-90 {
  margin: 90px 90px; }

.m-top {
  margin-bottom: 0; }

.m-bottom {
  margin-top: 0; }

.h-10 {
  height: 10px; }

.h-20 {
  height: 20px; }

.h-30 {
  height: 30px; }

.h-40 {
  height: 40px; }

.h-50 {
  height: 50px; }

.h-60 {
  height: 60px; }

.h-70 {
  height: 70px; }

.h-80 {
  height: 80px; }

.h-90 {
  height: 90px; }

.h-100 {
  height: 100px; }

.h-110 {
  height: 110px; }

.h-120 {
  height: 120px; }

.h-130 {
  height: 130px; }

.h-140 {
  height: 140px; }

.h-150 {
  height: 150px; }

.h-160 {
  height: 160px; }

.h-170 {
  height: 170px; }

.h-180 {
  height: 180px; }

.h-190 {
  height: 190px; }

.h-200 {
  height: 200px; }

.h-210 {
  height: 210px; }

.h-220 {
  height: 220px; }

.h-230 {
  height: 230px; }

.h-240 {
  height: 240px; }

.h-250 {
  height: 250px; }

.h-260 {
  height: 260px; }

.h-270 {
  height: 270px; }

.h-280 {
  height: 280px; }

.h-290 {
  height: 290px; }

.h-300 {
  height: 300px; }

.h-310 {
  height: 310px; }

.h-320 {
  height: 320px; }

.h-330 {
  height: 330px; }

.h-340 {
  height: 340px; }

.h-350 {
  height: 350px; }

.h-360 {
  height: 360px; }

.h-370 {
  height: 370px; }

.h-380 {
  height: 380px; }

.h-390 {
  height: 390px; }

.h-400 {
  height: 400px; }

.h-410 {
  height: 410px; }

.h-420 {
  height: 420px; }

.h-430 {
  height: 430px; }

.h-440 {
  height: 440px; }

.h-450 {
  height: 450px; }

.h-460 {
  height: 460px; }

.h-470 {
  height: 470px; }

.h-480 {
  height: 480px; }

.h-490 {
  height: 490px; }

.h-500 {
  height: 500px; }

.h-510 {
  height: 510px; }

.h-520 {
  height: 520px; }

.h-530 {
  height: 530px; }

.h-540 {
  height: 540px; }

.h-550 {
  height: 550px; }

.h-560 {
  height: 560px; }

.h-570 {
  height: 570px; }

.h-580 {
  height: 580px; }

.h-590 {
  height: 590px; }

.h-600 {
  height: 600px; }

.h-610 {
  height: 610px; }

.h-620 {
  height: 620px; }

.h-630 {
  height: 630px; }

.h-640 {
  height: 640px; }

.h-650 {
  height: 650px; }

.h-660 {
  height: 660px; }

.h-670 {
  height: 670px; }

.h-680 {
  height: 680px; }

.h-690 {
  height: 690px; }

.h-700 {
  height: 700px; }

.h-710 {
  height: 710px; }

.h-720 {
  height: 720px; }

.h-730 {
  height: 730px; }

.h-740 {
  height: 740px; }

.h-750 {
  height: 750px; }

.h-760 {
  height: 760px; }

.h-770 {
  height: 770px; }

.h-780 {
  height: 780px; }

.h-790 {
  height: 790px; }

.h-800 {
  height: 800px; }

.h-810 {
  height: 810px; }

.h-820 {
  height: 820px; }

.h-830 {
  height: 830px; }

.h-840 {
  height: 840px; }

.h-850 {
  height: 850px; }

.h-860 {
  height: 860px; }

.h-870 {
  height: 870px; }

.h-880 {
  height: 880px; }

.h-890 {
  height: 890px; }

.h-10-p {
  height: 10%; }

.h-20-p {
  height: 20%; }

.h-30-p {
  height: 30%; }

.h-40-p {
  height: 40%; }

.h-50-p {
  height: 50%; }

.h-60-p {
  height: 60%; }

.h-70-p {
  height: 70%; }

.h-80-p {
  height: 80%; }

.h-90-p {
  height: 90%; }

.h-100-p {
  height: 100%; }

.h-fill {
  height: 100%; }

.w-10 {
  max-width: 10px; }

.w-20 {
  max-width: 20px; }

.w-30 {
  max-width: 30px; }

.w-40 {
  max-width: 40px; }

.w-50 {
  max-width: 50px; }

.w-60 {
  max-width: 60px; }

.w-70 {
  max-width: 70px; }

.w-80 {
  max-width: 80px; }

.w-90 {
  max-width: 90px; }

.w-100 {
  max-width: 100px; }

.w-110 {
  max-width: 110px; }

.w-120 {
  max-width: 120px; }

.w-130 {
  max-width: 130px; }

.w-140 {
  max-width: 140px; }

.w-150 {
  max-width: 150px; }

.w-160 {
  max-width: 160px; }

.w-170 {
  max-width: 170px; }

.w-180 {
  max-width: 180px; }

.w-190 {
  max-width: 190px; }

.w-200 {
  max-width: 200px; }

.w-210 {
  max-width: 210px; }

.w-220 {
  max-width: 220px; }

.w-230 {
  max-width: 230px; }

.w-240 {
  max-width: 240px; }

.w-250 {
  max-width: 250px; }

.w-260 {
  max-width: 260px; }

.w-270 {
  max-width: 270px; }

.w-280 {
  max-width: 280px; }

.w-290 {
  max-width: 290px; }

.w-300 {
  max-width: 300px; }

.w-310 {
  max-width: 310px; }

.w-320 {
  max-width: 320px; }

.w-330 {
  max-width: 330px; }

.w-340 {
  max-width: 340px; }

.w-350 {
  max-width: 350px; }

.w-360 {
  max-width: 360px; }

.w-370 {
  max-width: 370px; }

.w-380 {
  max-width: 380px; }

.w-390 {
  max-width: 390px; }

.w-400 {
  max-width: 400px; }

.w-410 {
  max-width: 410px; }

.w-420 {
  max-width: 420px; }

.w-430 {
  max-width: 430px; }

.w-440 {
  max-width: 440px; }

.w-450 {
  max-width: 450px; }

.w-460 {
  max-width: 460px; }

.w-470 {
  max-width: 470px; }

.w-480 {
  max-width: 480px; }

.w-490 {
  max-width: 490px; }

.w-500 {
  max-width: 500px; }

.w-510 {
  max-width: 510px; }

.w-520 {
  max-width: 520px; }

.w-530 {
  max-width: 530px; }

.w-540 {
  max-width: 540px; }

.w-550 {
  max-width: 550px; }

.w-560 {
  max-width: 560px; }

.w-570 {
  max-width: 570px; }

.w-580 {
  max-width: 580px; }

.w-590 {
  max-width: 590px; }

.w-600 {
  max-width: 600px; }

.w-610 {
  max-width: 610px; }

.w-620 {
  max-width: 620px; }

.w-630 {
  max-width: 630px; }

.w-640 {
  max-width: 640px; }

.w-650 {
  max-width: 650px; }

.w-660 {
  max-width: 660px; }

.w-670 {
  max-width: 670px; }

.w-680 {
  max-width: 680px; }

.w-690 {
  max-width: 690px; }

.w-700 {
  max-width: 700px; }

.w-710 {
  max-width: 710px; }

.w-720 {
  max-width: 720px; }

.w-730 {
  max-width: 730px; }

.w-740 {
  max-width: 740px; }

.w-750 {
  max-width: 750px; }

.w-760 {
  max-width: 760px; }

.w-770 {
  max-width: 770px; }

.w-780 {
  max-width: 780px; }

.w-790 {
  max-width: 790px; }

.w-800 {
  max-width: 800px; }

.w-810 {
  max-width: 810px; }

.w-820 {
  max-width: 820px; }

.w-830 {
  max-width: 830px; }

.w-840 {
  max-width: 840px; }

.w-850 {
  max-width: 850px; }

.w-860 {
  max-width: 860px; }

.w-870 {
  max-width: 870px; }

.w-880 {
  max-width: 880px; }

.w-890 {
  max-width: 890px; }

.w-900 {
  max-width: 900px; }

.w-910 {
  max-width: 910px; }

.w-920 {
  max-width: 920px; }

.w-930 {
  max-width: 930px; }

.w-940 {
  max-width: 940px; }

.w-950 {
  max-width: 950px; }

.w-960 {
  max-width: 960px; }

.w-970 {
  max-width: 970px; }

.w-980 {
  max-width: 980px; }

.w-990 {
  max-width: 990px; }

.w-1000 {
  max-width: 1000px; }

.w-1010 {
  max-width: 1010px; }

.w-1020 {
  max-width: 1020px; }

.w-1030 {
  max-width: 1030px; }

.w-1040 {
  max-width: 1040px; }

.w-1050 {
  max-width: 1050px; }

.w-1060 {
  max-width: 1060px; }

.w-1070 {
  max-width: 1070px; }

.w-1080 {
  max-width: 1080px; }

.w-1090 {
  max-width: 1090px; }

.w-1100 {
  max-width: 1100px; }

.w-1110 {
  max-width: 1110px; }

.w-1120 {
  max-width: 1120px; }

.w-1130 {
  max-width: 1130px; }

.w-1140 {
  max-width: 1140px; }

.w-1150 {
  max-width: 1150px; }

.w-1160 {
  max-width: 1160px; }

.w-1170 {
  max-width: 1170px; }

.w-1180 {
  max-width: 1180px; }

.w-1190 {
  max-width: 1190px; }

.w-10-p {
  width: 10%; }

.w-20-p {
  width: 20%; }

.w-30-p {
  width: 30%; }

.w-40-p {
  width: 40%; }

.w-50-p {
  width: 50%; }

.w-60-p {
  width: 60%; }

.w-70-p {
  width: 70%; }

.w-80-p {
  width: 80%; }

.w-90-p {
  width: 90%; }

.w-100-p {
  width: 100%; }

.w-fill {
  width: 100%; }

.bg-light {
  background: #fff; }

.bg-stable {
  background: #f8f8f8; }

.bg-stable-dark {
  background: #BBBBBB; }

.bg-positive {
  background: #387ef5; }

.bg-calm {
  background: #11c1f3; }

.bg-balanced {
  background: #33cd5f; }

.bg-energized {
  background: #ffc900; }

.bg-assertive {
  background: #ef473a; }

.bg-royal {
  background: #241d4e; }

.bg-dark {
  background: #222; }

.bg-none {
  background: none; }

.bg-gray {
  position: relative;
  background-color: #f3f7f9;
  -moz-box-shadow: inset 0 -1px 0 #ddd;
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -1px 0 #ddd;
  background-repeat: no-repeat;
  background-size: 46% auto;
  background-position: left center; }

.color-light {
  color: #fff; }

.color-stable {
  color: #f8f8f8; }

.color-stable-dark {
  color: #BBBBBB; }

.color-positive {
  color: #387ef5; }

.color-calm {
  color: #11c1f3; }

.color-balanced {
  color: #33cd5f; }

.color-energized {
  color: #ffc900; }

.color-assertive {
  color: #ef473a; }

.color-royal {
  color: #241d4e; }

.color-dark {
  color: #222; }

.border-light {
  border-color: #fff; }

.border-stable {
  border-color: #f8f8f8; }

.border-stable-dark {
  border-color: #BBBBBB; }

.border-positive {
  border-color: #387ef5; }

.border-calm {
  border-color: #11c1f3; }

.border-balanced {
  border-color: #33cd5f; }

.border-energized {
  border-color: #ffc900; }

.border-assertive {
  border-color: #ef473a; }

.border-royal {
  border-color: #241d4e; }

.border-dark {
  border-color: #222; }

.is-relative {
  position: relative; }

.is-fixed {
  position: fixed; }

.block-center {
  display: block;
  margin: 0 auto; }

.absolute-center {
  left: 0;
  right: 0;
  margin: 0 auto; }

.center-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }

.right-shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }

.has-image {
  background-position: center center;
  background-size: cover; }

.gradient-cover {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, black);
  /* Standard syntax */ }
  .gradient-cover .cover-content {
    position: absolute;
    bottom: 70px;
    max-width: 700px;
    left: 0;
    right: 0;
    margin: 0 auto; }
    .gradient-cover .cover-content p {
      line-height: 40px;
      font-size: 18px; }

.overflow-scroll {
  overflow-y: scroll; }

/*# sourceMappingURL=properties.css.map */
