@mixin cover( $opacity: 0.7, $color: rgb(0,0,0)) {

  //Fixed style
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;

  //Variable style
  background: $color;
  opacity: $opacity;
}

@mixin has-background() {
  background-position: center center;
  background-size: cover;
}

// Positioning
// ----------------------------

@mixin fixed-top() {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin place($type: absolute, $vertical: 0, $horizontal: 0) {
  position: $type;
  top: $vertical;
  left: $horizontal;
}

@mixin center-absolute() {
  left: 0;
  right: 0;
  margin: 0 auto;
}

@mixin trans($type: all, $time: 500ms) {
  -webkit-transition: $type $time ease;
  -moz-transition: $type $time ease;
  -ms-transition: $type $time ease;
  -o-transition: $type $time ease;
  transition: $type $time ease;
}

@mixin smoothBackgroundShift() {
	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}