@import "mixins",
  "variables";

// Local mixins

@mixin button($padding: 15px 40px, $bg: none, $color: #fff, $border: 1px solid #fff, $radius: 0px) {

  // Custom style
  padding: $padding;
  background: $bg;
  border: $border;
  border-radius: $radius;
  color: $color;
}

@mixin smoothHover($bg: #fff, $color: #222) {
  @include smoothBackgroundShift();

  &:hover {
    background: $bg;
    color: $color;
  }
}

.no-bg-button {
  @include button($radius: 3px);
  @include smoothHover();
}

.button-positive {
  @include button(15px 0, rgb(32, 26, 74), #fff, none);
}

.button-fill {
  width: 100%;
}

.inline-button {
  display: inline-block;
  margin-right: 20px;
}