@import 'variables';

#navbar {
	.navbar {
	  margin-bottom: 0;
	}

	.navbar-default {
		background: none;
	    border: 0;
	    border-radius: 0;
	    height: 90px;
	    -moz-transition: all 200ms ease;
	    -webkit-transition: all 200ms ease;
	    -o-transition: all 200ms ease;
	    transition: all 200ms ease;

	    max-height: 500px;

	    display: block;
	    margin-left: auto;
	    margin-right: auto;

		box-shadow: none;

	    @media (max-width: $smallMediaSize) {
	      width: 100%;
	      height: auto;
	    }

	    .navbar-brand {
	        margin-left: 20px;
	        padding-top: 23px;

	        h5 {
				font-size: 30px;
				font-weight: 100;
				color: #fff;
				text-align: center;
	        }

			img {
				width: 180px;
			}

	        @media (max-width: $mediumMediaSize) {
	          width: 100px;
	          margin-left: 0;
	          padding-top: 10px;

	          img {
	            width: 100px;
	          }
	          h5 {
	            font-size: 15px;
	          }
	        }
	    }

	    .navbar-nav {
	        > li {
	            > a {
					font-weight: 100;

					line-height: 80px;

					height: 80px;
					padding-top:10px;
					padding-right: 10px;
					color: #fff;
					letter-spacing: 2px;

					text-shadow: none;

					&:hover, &:focus {
						color: #F5A623;
					}

					@media (max-width: $smallMediaSize) {
						padding-top:10px;
						padding-bottom: 10px;
					}
	            }
	        }

	        .active {
	            > a, > a:hover, > a:focus {
	                color: $colHover;
	                background: $bgHighlight;

	                font-weight: 600;
	            }
	        }

	        .open {
	            > a, > a:hover, > a:focus {
	                color: $colHover;
	                background: none;
	                box-shadow: none;

	                .caret {
	                    border-top-color: $colHover;
	                    border-bottom-color: $colHover;
	                }
	            }
	        }

	        > .dropdown {
	            > a {
	                .caret {
	                    border-top-color: $colDefault;
	                    border-bottom-color: $colDefault;
	                }

	                &:hover, &:focus {
	                    .caret {
	                        border-top-color: $colHover;
	                        border-bottom-color: $colHover;
	                    }
	                }
	            }
	        }
	    }

	    .navbar-right {
	      margin-right: 60px;

	      @media (max-width: $mediumMediaSize) {
	        li{
	          a{
	            font-size: 14px;
	          }
	        }
	      }
	    }

	    .navbar-toggle {
	        border-color: $bgHighlight;
	        &:hover, &:focus {
	            background: $bgHighlight;
	        }
	        .icon-bar {
	            background: #fff;
	        }
	    }
	}

	.with-background {
		background: #222;
	}

	@media (max-width: $smallMediaSize) {
	    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	        color: $colDefault;
	        &:hover, &:focus {
	            color: $colHover;
	            background: $bgHighlight;
	        }
	    }

		.navbar-collapse {
			background: #222;
		}
	}
}