<div class="row row-center row-center-v bg-clouds h-full">
    <div class="w-1000">
        <div class="row row-center row-center-v">
            <div class="p-l-20-60 t-center fs-12">
                <h4><span class="fa fa-envelope-o"></span></h4>
                <h4><a class="t-white" href="mailto:hei@korde.no"><strong>hei@korde.no</strong></a></h4>
                <h4><span class="fa fa-phone m-l-40-0 m-top"></span></h4>
                <h4>+47 90 72 60 36</h4>
            </div>
        </div>
    </div>
</div>
<!--<div class="article">
    <section class="korde-cover-image" style="background-image: url('/static/img/background/mac.jpg');">
        <div class="cover korde-center t-white">
            <div class="cover-inner">
                <h1 class="font-size-60 korde-very-thick korde-upper">Ta kontakt med <span class="t-light-purple">oss</span></h1>
            </div>
        </div>
    </section>
    <section class="korde-article-content">
        <div class="row">
            <div class="col-md-6">
                <h1 class="korde-very-thick">Lurer du på noe?</h1>
                <p class="big">
                    Har du noen spørsmål angående vår virksomhet, eller ønsker du et tilbud? Vennligst benytt vårt kontaktskjema, send en epost eller ring oss på vårt telefonnummer.
                </p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-4">
                <div class="contact-section contact-section-background" style="background-image: url('/static/img/background/mac.jpg');">
                    <div class="cover"></div>
                    <div class="contact-section-background-content t-white korde-center">
                        <h4 class="korde-very-thin korde-upper">Kontaktinformasjon:</h4>
                        <span class="fa fa-envelope-o font-size-30 margin-top-30"></span>
                        <h4><a class="t-white" href="mailto:hei@korde.no"><strong>hei@korde.no</strong></a></h4>
                        <span class="fa fa-phone font-size-30 margin-top-30"></span>
                        <h4>Ring Amalie på <strong>90 72 60 36</strong></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-section contact-section-form">
                    <h3 class="korde-very-thin">Kontaktskjema</h3>
                    <form ng-submit="submitInfo()">
                        <div class="input-field">
                            <span class="fa fa-user"></span>
                            <input type="text" ng-model = "info.name" placeholder="Ditt navn" required>
                        </div>
                        <div class="input-field">
                            <span class="fa fa-envelope-o"></span>
                            <input type="email" ng-model="info.email" placeholder="Din epost" required>
                        </div>
                        <div class="input-field">
                            <span class="fa fa-phone"></span>
                            <input type="tel" ng-model="info.phone" placeholder="Ditt telefonnummer" required>
                        </div>
                        <div class="input-field">
                            <span class="fa fa-comment"></span>
                            <textarea rows="5" ng-model="info.description" placeholder="Skriv din kommentar her" required></textarea>
                        </div>
                        <button class="button-positive button-fill margin-top-15 font-size-18">Send inn</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div id="map" class="contact-section"></div>
            </div>
        </div>
    </section>
</div>-->