<div class="bg-clouds">
    <div class="row row-center row-center-v h-full">
        <div class="t-center">
            <img ng-show="show.introHeader" class="w-200 cssFade" src="/static/img/logo/korde-text-under_plain.png"
                 alt="">
        </div>
    </div>
    <div class="row row-center row-center-v h-full p-l-20-20 fs-20">
        <div class="w-1000 p-l-20-0">
            <h2>Korde er et digitalt studio</h2>
            <p class="big">
                KORDE er et digitalt studio som skaper og utvikler produkter for både startups og etablerte selskaper.
                Gjennom egne ideer og prosjekter holder vi oss alltid oppdatert på den nyeste teknologien og leverer
                nyskapende digitale plattformer for våre kunder.
            </p>
        </div>
    </div>
    <div class="row row-center row-center-v h-full p-l-20-20 fs-20">
        <div class="w-1000 p-l-20-0">
            <h2>Konsulent</h2>
            <p class="big">
                Digitale tjenester blir til stadighet viktigere i kjernevirksomheten for flere
                bedrifter. Som et ungt og kunnskapsrikt selskap går vi langt for å styrke våre kunders digitale
                posisjon. Gjennom egne ideer og prosjekter holder vi oss alltid oppdatert på den nyeste teknologien
                og leverer nyskapende digitale plattformer for våre kunder.
            </p>
        </div>
    </div>
    <div class="row row-center row-center-v h-full p-l-20-20 fs-20">
        <div class="w-1000 p-l-20-0">
            <h2>Partner</h2>
            <p class="big">
                Vi hjelper og inngår partnerskap med store eller små selskaper med en god idé. Sammen skaper, eller
                forbedrer vi nye produkter og tjenester, eller starter et helt nytt område av virksomheten.
            </p>
        </div>
    </div>
    <div class="row row-center row-center-v h-full p-l-20-20 fs-20">
        <div class="w-1000 p-l-20-0">
            <h2>Egne produkter</h2>
            <p class="big">
                En kreativ frihet for Korde er å til stadig kunne danne nye selskaper basert på egne ideer. Vi
                oppfinner, designer og bygger tjenesten eller produktet - og former team som kan bringe ideene ut i
                verden.
            </p>
        </div>
    </div>
</div>

<!--<div class="p-l-200-200 p-s-50-20 has-image color-light is-relative h-screen-fill"
     style="background-image: url('/static/img/background/home_background.jpg')">
    <div class="cover-8 cover-dark"></div>
    <div class="cover-content layout-row h-100-p">
        <div class="c-m-12 c-center">
            <h1 class="t-center t-very-thick t-upper">Vi skaper
                <writable
                        text="^1000kunnskap^3000,^1000design^3000,^1000kvalitet^3000,^1000digitale løsninger^3000"
                        class="color-action"></writable>
            </h1>
        </div>
    </div>
</div>
<div class="p-l-100-100 p-s-20-20 bg-stable_dark">
    <div class="layout-row">
        <div class="c-l-12 t-center m-l-40-0 m-bottom">
            <h1 class="color-warm">Korde er et digitalt studio</h1>
            <h4 class="color-stable t-thin">Vi skaper og utvikler produkter sammen med etablerte selskaper og
                start-ups.</h4>
        </div>
        <div class="layout-row p-l-50-0 border-t-1">
            <div class="c-m-4 p-l-0-40 p-s-20-0">
                <h4 class="color-warm">Konsulenttjenester</h4>
                <p class="color-stable">Digitale tjenester blir til stadighet viktigere i kjernevirksomheten for flere
                    bedrifter. Som et ungt og kunnskapsrikt selskap går vi langt for å styrke våre kunders digitale
                    posisjon. Gjennom egne ideer og prosjekter holder vi oss alltid oppdatert på den nyeste teknologien
                    og leverer nyskapende digitale plattformer for våre kunder.</p>
            </div>
            <div class="c-m-4 p-l-0-40 p-s-20-0">
                <h4 class="color-warm">Partnerskap</h4>
                <p class="color-stable">Vi hjelper og inngår partnerskap med store eller små selskaper med en god idé.
                    Sammen skaper, eller forbedrer vi nye produkter og tjenester, eller starter et helt nytt område av
                    virksomheten.</p>
            </div>
            <div class="c-m-4 p-l-0-40 p-s-20-0">
                <h4 class="color-warm">Egne produkter</h4>
                <p class="color-stable">En kreativ frihet for Korde er å til stadig kunne danne nye selskaper basert på
                    egne ideer. Vi oppfinner, designer og bygger tjenesten eller produktet - og former team som kan
                    bringe ideene ut i verden.</p>
            </div>
        </div>
        <div class="layout-row layout-center p-l-50-0 border-t-1">
            <div class="w-200 p-l-20-40 c-center">
                <img class="w-100-p" src="/static/img/logo/Official-Logo-White.png" alt="Mojob">
            </div>
            <div class="w-200  p-l-20-40 c-center">
                <img class="w-100-p" src="/static/img/logo/cvideo_logo_long_trans.png" alt="CVideo">
            </div>
            <div class="w-200  p-l-20-40 c-center">
                <img class="w-100-p" src="/static/img/logo/blow_logo_white.png" alt="Blow Maritime">
            </div>

            <div class="w-200 p-l-20-40 c-center">
                <img class="w-100-p" src="/static/img/logo/moloklinikken_logo.png" alt="Moloklinikken">
            </div>
            <div class="w-200 p-l-20-40 c-center">
                <img class="w-100-p" src="/static/img/logo/jobbr-logo-white.png" alt="Jobbr">
            </div>

        </div>
    </div>
</div>-->