<div class="article">
    <section class="korde-cover-image" style="background-image: url('/static/img/background/working.jpg');">
        <div class="cover korde-center t-white">
            <div class="cover-inner">
                <h1 class="font-size-60 korde-very-thick korde-upper">Våre pågående <span class="t-red">prosjekter</span></h1>
            </div>
        </div>
    </section>
    <section class="korde-article-content korde-article-content-small">
        <div class="row">
            <div class="col-md-12">
                <h1>Konsulent</h1>
                <p class="big korde-thin">
                    Korde er et digitalt studio som skaper og utvikler produkter for våre kunder.
                    Digitale tjenester blir til stadighet viktigere i kjernevirksomheten for flere bedrifter.
                    Som et ungt og kunnskapsrikt selskap går vi langt for å styrke våre kunders digitale posisjon.
                    Gjennom egne idéer og prosjekter holder vi oss alltid oppdatert på den nyeste teknologien
                    og leverer nyskapende digitale plattformer for våre kunder.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Startups</h1>
                <p class="big korde-thin">
                    Vi hjelper og inngår partnerskap med store eller små selskaper med en god idé.
                    Sammen skaper, eller forbedrer vi nye produkter og tjenester, eller starter et helt nytt område av virksomheten.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Våre egne idéer</h1>
                <p class="big korde-thin">
                    En kreativ frihet for Korde er å til stadig kunne danne nye selskaper basert på egne idéer.
                    Vi oppfinner, designer og bygger tjenesten eller produktet - og former team som kan bringe idéene ut i verden.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.jobbr.no" target="_blank">
                    <div class="korde-project">
                        <div class="project-image" style="background-image: url('/static/img/case_studies/jobbr.png');"></div>
                        <h3 class="korde-thin">Jobbr</h3>
                        <p>
                            Visjonen bak Jobbr er å utnytte ledige ressurser i samfunnet på en slik måte at det
                            kommer alle til gode. Det finnes mange som synes at ukene har for få dager til å få
                            alt til å gå rundt. Samtidig er det mange som har ekstra tid om hendene og ønsker
                            litt ekstra inntekt i måneden. I motsetning til dagens løsninger, er Jobbr opptatt
                            av å følge teknologisk utvikling og brukeratferd, og jobber for å fjerne alle
                            barrièrer man kan ha ved å ta i bruk privatpersoner til å utføre jobber i nærheten
                            av deg.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>