<div class="article">
    <section class="korde-cover-image" style="background-image: url('/static/img/background/mac.jpg');">
        <div class="cover korde-center t-white">
            <h1 class="font-size-60 korde-very-thick korde-upper">Ta kontakt med <span class="t-purple">oss</span></h1>
        </div>
    </section>
    <section class="korde-article-content">
        <div class="row">
            <div class="col-md-6">
                <h1 class="korde-thin">Lurer du på noe?</h1>
                <p>
                    Vennligst ta kontakt på: <a href="mailto:hei@korde.no"><strong>hei@korde.no</strong></a> eller ring Amalie på <strong>90 72 60 36</strong>
                </p>
            </div>
        </div>
    </section>
</div>