<div class="article">
    <section class="korde-cover-image" style="background-image: url('/static/img/background/mac.jpg');">
        <div class="cover korde-center t-white">
            <h1 class="font-size-60 korde-very-thick korde-upper">Ta kontakt med <span class="t-purple">oss</span></h1>
        </div>
    </section>
    <section class="korde-article-content">
        <div class="row">
            <div class="col-md-6">
                <h1 class="korde-very-thin korde-upper">Lurer du på noe?</h1>
                <p class="big">
                    Har du noen spørsmål angående vår virksomhet, eller ønsker du et tilbud? Vennligst benytt vårt kontaktskjema, send en epost eller ring oss på vårt telefonnummer.
                </p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-4">
                <div class="contact-section contact-section-background" style="background-image: url('/static/img/background/mac.jpg');">
                    <div class="cover"></div>
                    <div class="contact-section-background-content t-white korde-center">
                        <h4 class="korde-very-thin korde-upper">Kontaktinformasjon:</h4>
                        <span class="fa fa-envelope-o font-size-30 margin-top-30"></span>
                        <h4><a class="t-white" href="mailto:hei@korde.no"><strong>hei@korde.no</strong></a></h4>
                        <span class="fa fa-phone font-size-30 margin-top-30"></span>
                        <h4>Ring Amalie på <strong>90 72 60 36</strong></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-section contact-section-form">
                    <h3 class="korde-very-thin">Kontaktskjema</h3>
                    <form action="">
                        <div class="input-field">
                            <span class="fa fa-user"></span>
                            <input type="text" placeholder="Ditt navn">
                        </div>
                        <div class="input-field">
                            <span class="fa fa-envelope-o"></span>
                            <input type="text" placeholder="Din epost">
                        </div>
                        <div class="input-field">
                            <span class="fa fa-phone"></span>
                            <input type="text" placeholder="Ditt telefonnummer">
                        </div>
                        <div class="input-field">
                            <span class="fa fa-comment"></span>
                            <textarea rows="5" placeholder="Skriv din kommentar her"></textarea>
                        </div>
                        <button class="button-positive button-fill margin-top-15 font-size-18">Send inn</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div id="map" class="contact-section"></div>
            </div>
        </div>
    </section>
</div>