<div id="home">
	<section id = "section-intro" style="background-image: url('/static/img/background/city-skyline.jpg');">
		<div class="intro-cover"></div>
        <div class="intro-content korde-center">
            <h1 class="font-size-60 korde-very-thick korde-upper">Det handler om <writable text="^1000kommunikasjon^3000,^1000kunnskap^3000,^1000design^3000,^1000kvalitet^3000,^1000mennesker^3000" class="t-blue"></writable></h1>
            <a href="#section-contact" du-smooth-scroll offset="100"><button class="intro-content-button no-bg-button">Ta kontakt</button></a>
            <a href="#section-who" du-smooth-scroll offset="100"><button class="intro-content-button no-bg-button">Finn ut mer</button></a>
        </div>
	</section>
	<section id = "section-who" class="section-plain-text">
		<div class="description-text">
			<h1 class="korde-very-thin korde-upper">Hvem er vi?</h1>
			<p class="korde-thin">
                Korde er et digitalt studio som skaper og utvikler produkter for både startups og etablerte selskaper. Gjennom egne idéer og prosjekter holder vi oss alltid oppdatert på den nyeste teknologien og leverer nyskapende digitale plattformer for våre kunder.
            </p>
		</div>
	</section>
	<section id="section-divider" style="background-image: url('/static/img/background/office.jpg');">
        <div class="cover"></div>
        <div class="row">
            <div class="col-md-4">
                <img class="divider-icon" src="/static/img/icons/ai.png" alt="">
                <p class="korde-text-24 korde-center korde-thin">Kunstig intelligens</p>
            </div>
            <div class="col-md-4">
                <img class="divider-icon" src="/static/img/icons/design.png" alt="">
                <p class="korde-text-24 korde-center korde-thin">På alle enheter</p>
            </div>
            <div class="col-md-4">
                <img class="divider-icon" src="/static/img/icons/bigdata.png" alt="">
                <p class="korde-text-24 korde-center korde-thin">Big data</p>
            </div>
        </div>
    </section>
    <section id="section-we-know-code" class="section-plain-text">
        <div class="description-text">
            <h1 class="korde-very-thin korde-upper">Hvorfor velge oss?</h1>
            <p class="korde-thin">
               Som et ungt og kunnskapsrikt selskap, tør vi å tenke nytt for å skape de beste digitale løsningene for våre kunder. Kordes utviklingsteam jobber effektivt og kan alltid levere løsninger av høy kvalitet i god tid.
            </p>
        </div>
    </section>
    <section id="section-contact" style="background-image: url('/static/img/background/city-skyline.jpg');">
        <div class="text-section">
            <h1 class="t-white korde-very-thin">Kontakt oss</h1>
            <h4 class="t-white korde-very-thin margin-top-30">hei@korde.no</h4>
            <h4 class="t-white korde-very-thin">+47 907 26 036</h4>
        </div>
    </section>
</div>