<div id="home">
	<section id = "section-intro">
		<div class="intro-cover"></div>
		<div class="intro-container">
			<div class="intro-container-float">
				<h1 class="slide-down" ng-show="show.introHeader">Vi tar veien</h1>
			</div>
			<div class="intro-container-float right">
				<h1 class="special slide-left" ng-show="show.introText">fremmover</h1>
			</div>
		</div>
	</section>
	<section id = "section-who" class="section-plain-text">
		<div class="description-text">
			<h1 class="korde-thin">Hvem er vi?</h1>
			<p class="korde-thin">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum mattis posuere. Ut vitae nunc id mi sollicitudin pellentesque. Ut quis tincidunt risus, vel pharetra est. Pellentesque venenatis augue vitae laoreet finibus. Nullam lacinia nec quam sit amet bibendum.
			</p>
		</div>
	</section>
	<section id="section-divider" style="background-image: url('/static/img/background/office.jpg');">
        <div class="cover"></div>
        <div class="row">
            <div class="col-md-4">
                <img class="divider-icon" src="/static/img/icons/ai.png" alt="">
                <p class="korde-text-24 korde-center korde-thin">Kustig intelligens</p>
            </div>
            <div class="col-md-4">
                <img class="divider-icon" src="/static/img/icons/design.png" alt="">
                <p class="korde-text-24 korde-center korde-thin">På alle enheter</p>
            </div>
            <div class="col-md-4">
                <img class="divider-icon" src="/static/img/icons/bigdata.png" alt="">
                <p class="korde-text-24 korde-center korde-thin">Big data</p>
            </div>
        </div>
    </section>
    <section id="section-we-know-code" class="section-plain-text">
        <div class="description-text">
            <h1 class="korde-thin">Hvorfor velge oss?</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum mattis posuere. Ut vitae nunc id
                mi sollicitudin pellentesque. Ut quis tincidunt risus, vel pharetra est. Pellentesque venenatis augue
                vitae laoreet finibus. Nullam lacinia nec quam sit amet bibendum.
            </p>
        </div>
    </section>
</div>