<div id="home">
	<section id = "section-intro">
		<div class="intro-container">
			<div class="intro-container-float">
				<h1 class="slide-down" ng-show="show.introHeader">We are here</h1>
			</div>
			<div class="intro-container-float right">
				<h1 class="special slide-left" ng-show="show.introText">to innovate</h1>
			</div>
		</div>
	</section>
	<section id = "section-description">
		<h1>Who are we?</h1>
		<div class="description-text">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum mattis posuere. Ut vitae nunc id mi sollicitudin pellentesque. Ut quis tincidunt risus, vel pharetra est. Pellentesque venenatis augue vitae laoreet finibus. Nullam lacinia nec quam sit amet bibendum.
			</p>
		</div>
	</section>
	<section id="section-solution"></section>
</div>