/* Nav color */
/* Small media screen */
/* Fonts */
/* Colors */
#navbar .navbar {
  margin-bottom: 0; }
#navbar .navbar-default {
  background: none;
  border: 0;
  border-radius: 0;
  height: 100px;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
  transition: 500ms; }
  @media (max-width: 768px) {
    #navbar .navbar-default {
      width: 100%;
      height: auto; } }
  #navbar .navbar-default .navbar-brand {
    margin-left: 20px;
    padding-top: 23px; }
    #navbar .navbar-default .navbar-brand h5 {
      font-size: 30px;
      font-weight: 100;
      color: #fff;
      text-align: center; }
    #navbar .navbar-default .navbar-brand img {
      width: 180px; }
    @media (max-width: 1250px) {
      #navbar .navbar-default .navbar-brand {
        width: 100px;
        margin-left: 0;
        padding-top: 10px; }
        #navbar .navbar-default .navbar-brand img {
          width: 100px; }
        #navbar .navbar-default .navbar-brand h5 {
          font-size: 15px; } }
  #navbar .navbar-default .navbar-nav > li > a {
    font-size: 22px;
    font-weight: 100;
    line-height: 80px;
    height: 80px;
    padding-top: 10px;
    padding-right: 10px;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: none; }
    #navbar .navbar-default .navbar-nav > li > a:hover, #navbar .navbar-default .navbar-nav > li > a:focus {
      color: #d396d2; }
    @media (max-width: 768px) {
      #navbar .navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; } }
  #navbar .navbar-default .navbar-nav .active > a, #navbar .navbar-default .navbar-nav .active > a:hover, #navbar .navbar-default .navbar-nav .active > a:focus {
    color: #255676;
    background: #eee;
    font-weight: 600; }
  #navbar .navbar-default .navbar-nav .open > a, #navbar .navbar-default .navbar-nav .open > a:hover, #navbar .navbar-default .navbar-nav .open > a:focus {
    color: #255676;
    background: none;
    box-shadow: none; }
    #navbar .navbar-default .navbar-nav .open > a .caret, #navbar .navbar-default .navbar-nav .open > a:hover .caret, #navbar .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #255676;
      border-bottom-color: #255676; }
  #navbar .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #000;
    border-bottom-color: #000; }
  #navbar .navbar-default .navbar-nav > .dropdown > a:hover .caret, #navbar .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #255676;
    border-bottom-color: #255676; }
  #navbar .navbar-default .navbar-right {
    margin-right: 60px; }
    @media (max-width: 1250px) {
      #navbar .navbar-default .navbar-right li a {
        font-size: 14px; } }
  #navbar .navbar-default .navbar-toggle {
    border-color: #eee; }
    #navbar .navbar-default .navbar-toggle:hover, #navbar .navbar-default .navbar-toggle:focus {
      background: #eee; }
    #navbar .navbar-default .navbar-toggle .icon-bar {
      background: #fff; }
#navbar .navbar-collapse {
  background: #222; }
#navbar .with-background {
  background: #222; }
@media (max-width: 768px) {
  #navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000; }
    #navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, #navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #255676;
      background: #eee; } }

/*# sourceMappingURL=navbar.css.map */
